@import url('reset.css');
@import url('text.css');
@import url('960.css');

html, body {
    height: 100%;
}

body {
    background-attachment: fixed !important;
    min-height:100%;
    margin:0;
    background: rgb(255,218,178);
    background-image: url(../images/birds.png); /* fallback */
    background-image: url(../images/birds.png), -webkit-linear-gradient(bottom, rgb(255,218,178) 0%, rgb(224,250,255) 49%) ; /* Chrome 10+, Saf5.1+ */
    background-image: url(../images/birds.png),    -moz-linear-gradient(bottom, rgb(255,218,178) 0%, rgb(224,250,255) 49%) ; /* FF3.6+ */
    background-image: url(../images/birds.png),     -ms-linear-gradient(bottom, rgb(255,218,178) 0%, rgb(224,250,255) 49%) ; /* IE10 */
    background-image: url(../images/birds.png),     -o-linear-gradient(bottom, rgb(255,218,178) 0%, rgb(224,250,255) 49%) ;
    background-image: url(../images/birds.png),         linear-gradient(bottom, rgb(255,218,178) 0%, rgb(224,250,255) 49%) ;

    color: #222;
    position:relative;
}



.cargo {
    margin:20px auto;
    width:720px;
    overflow:visible;
}

.cargo * {
    z-index:1;
}

* {
    font-family:'futura-pt';

}

.imonaboat {
    font-size:16px;
}

h1 {
    font-size:48px;
}

h2 {
    font-size:28px;
}

.product {
    width:220px;
    height:220px;
    display:inline-block;
    position:relative;
    overflow:hidden;
    margin:0 10px;
    background-position:center center;
    background-size:cover;
    background-repeat:no-repeat;
}

.product-info {
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.3s;
    position:absolute;
    width:220px;
    height:220px;
    top:188px;
}

.product:hover .product-info {
    top:0;
}

.palette {
    margin-top: -5px;
    width:720px;
    height:20px;
    display: block;
    background-image:url(../images/palette.png);
}

.title, .shipper {
    text-align:center;
    background-color:rgba(0,0,118,.6);
    font-weight:normal;
    font-size:16px;
    line-height:32px;
    display:block;
    width:100%;
    color:#fff;
    height:32px;
}

.description {
    height:136px;
    color:#fff;
    background-color:rgba(0,0,0,.6);
    padding:10px;
}

.boat {
    background-image:url(../images/ship.png);
    background-repeat:no-repeat;
    width:100%;
    height:471px;
    background-position:center center;
    z-index:2;
    position:fixed;
    bottom:-100px;
}


.boat-left, .boat-right {
    position:fixed;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:bottom;
    z-index:2;
}

.boat-left {
    background-image:url(../images/ship_left.png);
    left:-50px;
    width:338px;
    height:401px;
}

.boat-right {
    background-image:url(../images/ship_right.png);
    right:-20px;
    width:335px;
    height:401px;
}

.boat-middle {
    height:150px;
    bottom:0;
    position:fixed;
    width:100%;
    z-index:2;

}

.black-bar {
    margin:0 auto;
    position:relative;
    height:100%;
    width:780px;
    background-color:#000;
}

.copyright {
    color: #888;
    font-size: 11px;
    position: relative;
    width: 220px;
    top:18px;
    float: right;
    text-decoration: none;
    color:#FFF;
}

.copyright a {
  text-decoration: none;
    color:#BBB;  
}

.wrapper {
    margin-left:10px;
}

.blue {
    width:100%;
    background-color:#006;
    height:20px;
    position:fixed;
    bottom:0;
    z-index:1;
}

.boat-left, .boat-right, .boat-middle {
    bottom:0px;
}

.navbar {
    width:100%;
    background-color:#333;
}


#nav {
    width: 720px;
    margin:0 auto;
    /*float: left;*/
    padding: 0;
    list-style: none;
    list-style-type: none;
    background-color: #333;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, figure {
    margin-bottom:0;
}

#nav li {
    float: left; 
    list-style: none;
    margin: 0;
}
#nav li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    color: #AAA;
    border-right: 1px solid #555; }
#nav li a:hover {
    color: #CCC;
    background-color: #444; }


.header {
    background-color:rgba(0,0,0,.04);
}

.header .htitle {
    width:720px;
    margin:0 auto;
    overflow:visible;
}
.lighter {
    color:#888;
}

.subheader {
        padding: 5px;
       background-color:rgba(0,0,0,.04); 
}

.subheader .imonaboat {
    width:720px;
    margin:0 auto;
    overflow:visible;
}

.container {
    width:700px;
    margin:0 auto;
    padding:20px 10px;
}

.date-range {
    color:#888;
    font-size:20px;
    display:inline-block;
}
