@import url('reset.css');
@import url('text.css');
@import url('960.css');

html, body {
    background-color:#f8f8ff;
}

.cargo {
    margin:20px auto;
    width:720px;
    overflow:visible;
}

.cargo * {
    z-index:1;
}

* {
    font-family:'adelle';

}

.imonaboat {
    font-size:16px;
    font-family:'adelle';
}

h1 {
    font-family:'adelle';
    font-size:48px;
}

h2 {
    font-family:'adelle';
    font-size:28px;
}

.product {
    width:220px;
    height:220px;
    display:inline-block;
    position:relative;
    overflow:hidden;
    margin:10px;
    background-position:center center;
}

.product-info {
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.3s;
    position:absolute;
    width:220px;
    height:220px;
    top:188px;
}

.product:hover .product-info {
    top:0;
}

.title, .shipper {
    text-align:center;
    background-color:rgba(0,0,118,.6);
    font-weight:normal;
    font-size:16px;
    line-height:32px;
    display:block;
    width:100%;
    color:#fff;
    height:32px;
}

.description {
    height:136px;
    color:#fff;
    background-color:rgba(0,0,0,.6);
    padding:10px;
}

.boat {
    background-image:url(../images/ship.png);
    background-repeat:no-repeat;
    width:100%;
    height:471px;
    background-position:center center;
    z-index:2;
    position:fixed;
    bottom:-100px;
}

.boat-left, .boat-right {
    position:absolute;
    bottom:0;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:bottom;
}

.boat-left {
    background-image:url(../images/ship_left.png);
    left:0;
    width:338px;
    height:251px;
}

.boat-right {
    background-image:url(../images/ship_right.png);
    right:0;
    width:335px;
    height:401px;
}

.wrapper {
    margin-left:10px;
}