@import url('reset.css');
@import url('text.css');
@import url('960.css');

html, body {
    background-color:#f8f8ff;
}

.cargo {
    margin:20px auto;
    width:960px;
}

h1 {
    font-family:'adelle';
    font-size:48px;
}

h2 {
    font-family:'futura-pt';
    font-size:28px;
}