@import url('reset.css');
@import url('text.css');
@import url('960.css');

html, body {
    background-color:#f8f8ff;
    background-image:url(../images/boat.png);
}

.cargo {
    margin:20px auto;
    width:960px;
}

* {
    font-family:'adelle';

}

.imonaboat {
    font-size:16px;
    font-family:'adelle';
}

h1 {
    font-family:'adelle';
    font-size:48px;
}

h2 {
    font-family:'adelle';
    font-size:28px;
}

.product {
    width:220px;
    height:220px;
    display:inline-block;
    position:relative;
    overflow:hidden;
}

.product-info {
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.3s;
    position:absolute;
    width:220px;
    height:220px;
    top:188px;
}

.product:hover .product-info {
    top:0;
}

.title, .shipper {
    text-align:center;
    background-color:rgba(0,0,118,.6);
    font-weight:normal;
    font-size:16px;
    line-height:32px;
    display:block;
    width:100%;
    color:#fff;
    height:32px;
}

.description {
    height:136px;
    color:#fff;
    background-color:rgba(0,0,0,.6);
    padding:10px;
    width:100%;
}