@import url('reset.css');
@import url('text.css');
@import url('960.css');

html, body {
    background: #6cab26;
    background-image: url(../images/birds.png); /* fallback */
    background-image: url(../images/birds.png), -webkit-linear-gradient(bottom, rgb(255,218,178) 0%, rgb(224,250,255) 49%); /* Chrome 10+, Saf5.1+ */
    background-image: url(../images/birds.png),    -moz-linear-gradient(bottom, rgb(255,218,178) 0%, rgb(224,250,255) 49%); /* FF3.6+ */
    background-image: url(../images/birds.png),     -ms-linear-gradient(bottom, rgb(255,218,178) 0%, rgb(224,250,255) 49%); /* IE10 */
    background-image: url(../images/birds.png),     -o-linear-gradient(bottom, rgb(255,218,178) 0%, rgb(224,250,255) 49%);
    background-image: url(../images/birds.png),         linear-gradient(bottom, rgb(255,218,178) 0%, rgb(224,250,255) 49%);

    background-repeat:repeat;
    color: #222;
}

body {
position:relative;
}



.cargo {
    margin:20px auto;
    width:720px;
    overflow:visible;
}

.cargo * {
    z-index:1;
}

* {
    font-family:'adelle';

}

.imonaboat {
    font-size:16px;
    font-family:'adelle';
}

h1 {
    font-family:'adelle';
    font-size:48px;
}

h2 {
    font-family:'adelle';
    font-size:28px;
}

.product {
    width:220px;
    height:220px;
    display:inline-block;
    position:relative;
    overflow:hidden;
    margin:6px;
    background-position:center center;
}

.product-info {
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.3s;
    position:absolute;
    width:220px;
    height:220px;
    top:188px;
}

.product:hover .product-info {
    top:0;
}

.title, .shipper {
    text-align:center;
    background-color:rgba(0,0,118,.6);
    font-weight:normal;
    font-size:16px;
    line-height:32px;
    display:block;
    width:100%;
    color:#fff;
    height:32px;
}

.description {
    height:136px;
    color:#fff;
    background-color:rgba(0,0,0,.6);
    padding:10px;
}

.boat {
    background-image:url(../images/ship.png);
    background-repeat:no-repeat;
    width:100%;
    height:471px;
    background-position:center center;
    z-index:2;
    position:fixed;
    bottom:-100px;
}


.boat-left, .boat-right {
    position:fixed;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:bottom;
    z-index:2;
}

.boat-left {
    background-image:url(../images/ship_left.png);
    left:0;
    width:338px;
    height:401px;
}

.boat-right {
    background-image:url(../images/ship_right.png);
    right:0;
    width:335px;
    height:401px;
}

.boat-middle {
    height:150px;
    bottom:0;
    position:fixed;
    width:100%;
    z-index:2;

}

.black-bar {
    margin:0 auto;
    position:relative;
    height:100%;
    width:780px;
    background-color:#000;
}

.copyright {
    color: #888;
    font-size: 11px;
    position: relative;
    width: 220px;
    top:18px;
    float: right;
}

.wrapper {
    margin-left:10px;
}

.blue {
    width:100%;
    background-color:#006;
    height:20px;
    position:fixed;
    bottom:0;
    z-index:1;
}

.boat-left, .boat-right, .boat-middle {
    bottom:11px;
}

.navbar {
    width:100%;
    background-color:#222;
    padding:10px 0;
}

.header {
    background-color:rgba(0,0,0,.3);
}

.header .htitle {
    width:720px;
    margin:0 auto;
    overflow:visible;
}

.subheader {
       background-color:rgba(0,0,0,.04); 
}

.subheader .imonaboat {
    width:720px;
    margin:0 auto;
    overflow:visible;
}
